#Xử lý ảnh
torch>=2.0.0
torchvision>=0.15.0
Pillow>=9.0.0

#Quản lý dữ liêu và tìm kiếm
numpy>=1.24.0
pandas>=2.0.0
scikit-learn>=1.3.0
faiss-cpu>=1.7.4

#Phụ trợ hiển thị
tqdm>=4.65.0

#Giao diện
streamlit>=1.30.0